body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: rgb(251, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #20232a;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  color: #f9f9f9;
}

.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stopwatch {
  background-color: #20232a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#display {
  font-size: 3em;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

button {
  font-size: 1em;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #21a1f1;
  border: none;
  border-radius: 5px;
  color: #20232a;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #61dafb;
}

button:disabled {
  background-color: #aba7a7;
  cursor: not-allowed;
}

#laps {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

#laps li {
  font-size: 1.2em;
  margin: 5px 0;
  background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
